<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2017 UniqueStudio
  ~
  ~
  ~ This file is part of ParsingPlayer.
  ~
  ~ ParsingPlayer is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU Lesser General Public
  ~ License as published by the Free Software Foundation; either
  ~ version 2.1 of the License, or (at your option) any later version.
  ~
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with ParsingPlayer; if not, write to the Free Software
  ~ Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.hustunique.parsingplayer">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".player.android.VideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme">
        </activity>
    </application>

</manifest>