<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hustunique.parsingplayer">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".player.android.VideoActivity"
                  android:screenOrientation="landscape"
                  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:theme="@style/FullscreenTheme">
        </activity>
    </application>

</manifest>